In [22]:
import pandas as pd
from matplotlib import pyplot as plt
from pipeline.acquisition import load_sisfall_data
from pipeline.preprocessing import change_activity_duration
from pipeline.preprocessing import change_activity_sampling
from pipeline.feature_extraction import extract_features
import joblib
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, ConfusionMatrixDisplay
from sklearn import preprocessing
from sklearn.feature_selection import SelectFromModel

from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [40]:
walking_sitting = pd.read_csv('datasets/earpiece/walking_sitting.csv').drop(columns=['packetId','packetType']).rename(columns={'X': 'acc_x', 'Y': 'acc_y', 'Z': 'acc_z'})
walking = pd.read_csv('datasets/earpiece/walking_14sec.csv').drop(columns=['packetId','packetType','timestamp']).rename(columns={'X': 'acc_x', 'Y': 'acc_y', 'Z': 'acc_z'})
walking_sitting

      timestamp     acc_x     acc_y     acc_z
0          2106 -0.395996  0.120605 -0.836426
1          6966 -0.396973  0.119141 -0.842285
2         11963 -0.409180  0.124512 -0.850098
3         16950 -0.421875  0.126465 -0.857422
4         21941 -0.432617  0.133301 -0.848633
...         ...       ...       ...       ...
7455   37216666 -0.092285  0.155762 -0.973633
7456   37221642 -0.092285  0.161133 -0.974121
7457   37226650 -0.093750  0.157227 -0.974609
7458   37231643 -0.094238  0.152832 -0.973145
7459   37236638 -0.095703  0.160645 -0.971680

[7460 rows x 4 columns]

In [51]:
walking

         acc_x     acc_y     acc_z   mag_acc
0    -0.149414  0.437500 -0.849609  0.967247
1    -0.144043  0.439941 -0.845215  0.963683
2    -0.142578  0.436523 -0.838379  0.955908
3    -0.128906  0.446777 -0.854492  0.972823
4    -0.121094  0.445801 -0.874023  0.988594
...        ...       ...       ...       ...
3145  0.191895  0.103516 -1.005371  1.028742
3146  0.179199  0.099609 -1.001465  1.022236
3147  0.180176  0.104980 -1.002441  1.023901
3148  0.170410  0.102539 -1.005859  1.025333
3149  0.180664  0.101562 -1.005371  1.026511

[3150 rows x 4 columns]

In [45]:
features = extract_features(walking, True)
features

,mean_acc_x,mean_acc_y,mean_acc_z,mean_mag_acc,var_acc_x,var_acc_y,var_acc_z,var_mag_acc,std_acc_x,std_acc_y,...,ptp_acc_z,ptp_mag_acc,centile25_acc_x,centile25_acc_y,centile25_acc_z,centile25_mag_acc,centile75_acc_x,centile75_acc_y,centile75_acc_z,centile75_mag_acc
0,-0.580953,0.511494,-0.574319,1.005525,0.038374,0.026015,0.025267,0.007551,0.195894,0.161292,...,0.988281,0.974984,-0.682129,0.375977,-0.668945,0.955796,-0.525391,0.656738,-0.469238,1.042515

In [52]:
adl_fall_rf_model = joblib.load('models/adl_fall_rf_model.pkl')

adl_fall_rf_model.predict(features)

array(['adl'], dtype=object)

In [50]:
adl_classification_model = joblib.load('models/lr_model.pkl')
adl_classification_model.predict(features)

array(['fall'], dtype=object)